@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    color: #F0E9D2;
}

/* blanco claro:  F0EBE3 F0E9D2
gris: E4DCCF E6DDC4
celeste claro: 7D9D9C 678983
azul: 576F72  181D31 */

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    position: fixed;
    z-index: 900;
}

.menu-hamburguesa {
    display: none;
}

.logo p {
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    color: #F0E9D2;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    gap: 5rem;
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color: #F0E9D2;
    font-size: 18px;
}

/*-----------------MAIN PAGE ------------------*/ 

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 100px;
}

main h1 {
    font-size: 45px;
    font-weight: 300;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}


/* EXCURSIONES -----------------------------*/

article {
    width: 100%;
    height: 100vh;
    background-color: #576F72;
}


img {
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 600px) {
    nav {
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        position: fixed;
    }
    
    .logo p {
        font-family: 'Jost', sans-serif;
        font-size: 30px;
        color: #F0E9D2;
    }
    
    ul {
        display: none;
    }
    

    .menu-hamburguesa {
        display: flex;
        color: #F0E9D2;
        font-family: 'Jost', sans-serif;
        font-size: 25px;
        vertical-align: center;
    }

    main {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    main h1 {
        font-size: 22px;
        font-weight: 300;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
    }
    
    
    /* EXCURSIONES -----------------------------*/

    article {
        width: 100%;
        height: 100%;
        padding: 100px auto;
        color: #181D31;
        margin: auto;
    }

    section {
        width: 100%;
        height: 100%;
        background-color: #F0E9D2;
        padding: 100px auto;
        color: #181D31;
        padding-bottom: 30px;
        margin: auto;
    }

    article h3 {
        padding: 20px;
        padding-bottom: 0;
        font-size: 25px;
        font-weight: 500;
    }


    .imagen {
        box-shadow: 0 1px 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.20);
        border-radius: 8px;
        z-index: 100;
        height: 100px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        margin: auto;
        display: block;
    }

    .destinos {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px auto;
        grid-gap: 15px;
    }

    .destino__item {
        display: flex;
        flex-direction: column;
        margin: 5px auto;
    }

    .item__info {
        width: 85%;
        height: 100%;
        font-size: 12px;
        background-color: #181D3199;
        border-radius: 0 0 8px 8px;
        padding: 5px 12px 12px 12px;
        margin-top: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #F0E9D2;
    }

    .item__info h4 {
        font-size: 18px;
        z-index: 10;
        line-height: 1;
        padding-top: 8px;
    }

    .item__info p {
        line-height: 1.2;
        margin: 10px 0;
        font-weight: 200;
    }

    .item__info button {
        width: 100%;
        border: solid 1px #F0E9D2;
        padding: 5px;
        border-radius: 5px;
        color: #F0E9D2;
        background-color: transparent;
        font-size: 10px;
        bottom: auto;
    }

/* EXCURSIONES --------------------------------*/

    .excursiones__container {
        margin: auto;
        background-color: #181D31;
        color: #F0E9D2;
        padding-bottom: 18px;
    }

    .excursiones__container h3 {
        padding: 20px;
        padding-bottom: 0;
        font-size: 25px;
        font-weight: 400;
    }

    .exc-item {
        display: flex;
        width: 90%;
        margin: 20px auto;
        gap: 10px;
        font-weight: 200;
        background-color: #F0E9D210;
        padding: 10px;
        border-radius: 10px;
    }

    .exc-item img {
        width: 200px;
        height: 100px;
    }


    /* FOOTER ----------------------*/

    footer {
        background-color: #F0E9D2;
        height: 200px;
        color: #181D31;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .redes {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        color: #181D31;
        font-size: 40px;
    }

    footer p {
        font-size: 10px;
    }
}